.searchModule {
    border: 1px solid #8c8475;
    line-height: 28px;
    width: 390px;
    float: left;
    margin: 10px 0 0 222px;
}

.selectInput,
.selectInput:focus {
	// width: 80px;
	width:62px;
	border: 0;
	outline: none;
	float:left;
	height:36px;
}

.searchInput,
.searchInput:focus{
	outline: none;
	width: 243px;
}
.selectInput{

}
.searchInput{
	float:left;
	margin-top:7px;
	border:0 none;
	border-left:1px solid rgba(140, 132, 117, 1);
	height:22px;
	padding-left:6px;
}

.searchBtn {
	border: 0;
	width: 65px;
	height:36px;
	font-size:26px;
	// background: #726c5f;
	color: white;
	cursor:pointer;
	background-image: linear-gradient(0deg, 
	rgba(110, 104, 91, 1) 0%, 
	rgba(134, 128, 114, 1) 100%), 
linear-gradient(
	rgba(255, 255, 255, 1), 
	rgba(255, 255, 255, 1));
}

.ui-select {  
    text-align: center;  
    /* 加border只是为了看到边框*/  
    border:solid 1px;  
}  
.ui-select select {  
    position: absolute;  
    left: 0px;  
    top: 0px;  
    width: 100%;  
    height: 3em;  
    opacity: 0;  
}  

.ant-menu {
	background:transparent;
	color:white;
	.menuItem {
		color:white;
		width:100px;
		text-align:center;
		a {
			color:white;
		}
	}

}
.content{
.ant-menu-submenu-title{
	width:190px;
	text-align:center;
}
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active:hover,
.ant-menu-horizontal > .ant-menu-submenu-active:hover,
.ant-menu-horizontal > .ant-menu-item-open:hover,
.ant-menu-horizontal > .ant-menu-submenu-open:hover,
.ant-menu-horizontal > .ant-menu-item-selected:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected:hover {
	color: white;
	border-bottom:2px solid transparent;
	background:#6a6355 !important;
}

.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover {
	color: white;
}

.ant-menu-horizontal {
	border-bottom: 1px solid rgb(140, 132, 117);
}
.ant-menu-submenu-title:hover {
    color: #fff;
}
.ant-menu-submenu > .ant-menu{
	background-color:#6a6355;
	border-radius:0;
}
.ant-menu-submenu-horizontal > .ant-menu{
	margin-top:3px;
}
.ant-menu-item > a {
    display: block;
    color: rgba(255, 255, 255,0.9);
    &:hover{
    	color: #565045;
    }
}
.ant-menu-vertical.ant-menu-sub .ant-menu-item{
	height:57px;
	line-height:57px;
	text-align:left;
	padding-left:70px;
	@for $i from 1 through 7 {
    	&:nth-child(#{$i}){
      		background: url('../assets/images/#{$i}_1.png') no-repeat 30px center;
    	}
  	}
	&:first-child,&:last-child{
		border-radius:0;
	}
	&.ant-menu-item-active{
		@for $i from 1 through 7 {
    		&:nth-child(#{$i}){
      			background: url('../assets/images/#{$i}.png') no-repeat 30px center;
      			background-color: #fff;
				color:#000;
    		}
  		}
	}
}
}
.wx_login{
	margin-left:160px;
	float:left;
	line-height:56px;
	cursor: pointer;
	img{
		vertical-align: middle;
		margin-right:12px;
	}
	span{
		color:#6a6355;
		font-size:12px;
	}
}

.vertical-center-modal {
	text-align: center;
	white-space: nowrap;
  }
  
  .vertical-center-modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
  }
  
  .vertical-center-modal .ant-modal {
	display: inline-block;
	vertical-align: middle;
	top: 0;
	text-align: left;
  }

  .ant-modal{
	  .ant-modal-content{
			width:526px;
			// height:462px;
			.ant-modal-body{
				padding:0 65px;
				.modal-container{
					text-align: center;
					 &>img{
						margin:60px 0 10px;
					 }
					 .title{
						font-size:16px;
						color:#666666;
						margin-bottom:38px;
					 }
					 .ant-form-explain{
						 text-align: left;
						 height:0;
					 }
					 .ant-form-item-with-help{
						 margin-bottom:24px;
					 }
					 .ant-input-lg{
						 height:56px;
					 }
					 .ant-input-affix-wrapper .ant-input:not(:first-child){
						 padding-left:72px;
					 }
					 .ant-input-affix-wrapper .ant-input-prefix{
						 left:0;
						 width:65px;
					 }
					 .ant-input{
						 font-size:18px;
						 border-radius: 4px;
						 border: solid 1px #CAD3DF;
						 &:focus{
							box-shadow: 0px 0px 7px 1px rgba(140, 132, 117, 0.35);
							border: solid 1px #8C8475;
						 }
					 }
					 .form-text{
						 text-align: right;
						 height:40px;
						 line-height: 40px;
						 color:#8c8475;
						 font-size:12px;
						 span{cursor: pointer;}
					 }
					 .ant-btn{
						 width:100%;
						 height: 58px;
						 background-image: linear-gradient(
							 rgba(140, 132, 117, 1), 
							 rgba(140, 132, 117, 1)), 
						 linear-gradient(
							 rgba(61, 149, 213, 1), 
							 rgba(61, 149, 213, 1));
						 background-blend-mode: normal, 
							 normal;
						 border-radius: 4px;
						 border: solid 1px #645e52;
						 span{
							font-size:18px;
						 }
					 }
				}
			}
			.ant-modal-close-x{
				font-size:20px;
				height:20px;
			}
	  }
  }