<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgsc.kunqu.mapper.OperaMapper" >
  <resultMap id="BaseResultMap" type="com.lgsc.kunqu.model.Opera" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="opera_id" property="operaId" jdbcType="BIGINT" />
    <result column="opera_name" property="operaName" jdbcType="VARCHAR" />
    <result column="singer" property="singer" jdbcType="VARCHAR" />
    <result column="lyric_url" property="lyricUrl" jdbcType="VARCHAR" />
    <result column="song_url" property="songUrl" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
  </resultMap>
  
  <select id="selectOperaList" parameterType="Long" resultMap="BaseResultMap">
  		select * from kunqu.opera a  inner join  kunqu.special_opera  so  on a.opera_id=so.opera_id  where so.special_id=#{specialId}
  </select>
  
</mapper>