<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgsc.kunqu.mapper.RoleTagSpecialMapper" >
  <resultMap id="BaseResultMap" type="com.lgsc.kunqu.model.RoleTagSpecial" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_tag_special_id" property="roleTagSpecialId" jdbcType="BIGINT" />
    <result column="role_tag_id" property="roleTagId" jdbcType="BIGINT" />
    <result column="special_id" property="specialId" jdbcType="BIGINT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>