.musicContent{
    overflow-x: hidden;
    .cover{
        margin-top: 10%;
        .imgBox{
            width: 67%;
            height: 0;
            padding-bottom:calc(67% - 10px);
            margin: 0 auto;
            border-radius: 50%;
            border:5px solid #fff;
            box-shadow:0 0 25px rgba(100,100,100,0.5);
            img{
                width: 100%;      
                border-radius:50%;  
                filter:opacity(1);
                // filter:drop-shadow(0 5px 12px rgba(0,0,0,0.4))
            }
        }
        
    }
    .info{
        margin-top: 20px;
        .title{
            text-align: center;
            font-size:15px;
            color:#535353;
            font-weight: bold;
            padding-left:0;
        }
        .desc{
            font-size: 12px;
            color: #989898;
            width: 60%;
            margin: 0 20%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 22px;
        }
    }
    .control{
        margin-top:20px;
        .time{
            font-size: 12px;
            .timeInfo{
                display: inline-block;
                width:50%;
                padding-left:8%;
                text-align: left;
                margin-bottom: 10px;
            }
            .durationInfo{
                display: inline-block;
                width:50%;
                padding-right:8%;
                text-align: right;
                margin-bottom: 10px;
            }
        }
        .progress{
            height:4px;
            background: #dbdbde;
            border-radius:2px;
        // margin: 0 10% 50px 10%;
            width:84%;
            margin:0 8% 10% 8%;
            .progressw{
                position:relative;
                height:4px;
                background: #6e634e;
                border-radius:2px;
                width:20%;
                .out{
                    position:absolute;
                    top:-10px;
                    right:-16px;
                    width:24px;
                    height:24px;
                    // border-radius: 12px;
                    background: transparent;
                }
                .outin{
                    position:absolute;
                    top:-4px;
                    right:-10px;
                    width:12px;
                    height:12px;
                    border-radius: 6px;
                    background: #6e634e;
                
                }
                .in{
                    position:absolute;
                    right:-7px;
                    top:-1px;
                    width:6px;
                    height:6px;
                    border-radius: 3px;
                    background: #fff;
                }
            }
        }
    }
    .buttons{
        display:flex;
        padding:0 10%;
        align-items:center;
        justify-content:space-between;
        .button{
            &.prev,&.next{
                text-align: center;
                img{
                    width:60%;
                    vertical-align: middle;
                }
            }
            &.play{
                text-align: center;
                img{
                    width:60%;
                }
            }
        }
    }
}
.animate{
    -webkit-animation:change 12s steps(8000) infinite;
    animation: change 12s steps(8000) infinite;
    -moz-animation: change 12s steps(8000) infinite;/*序列图有16张*/
}
@-webkit-keyframes change{
    0%{-webkit-transform:rotate(0deg)}
    50%{-webkit-transform:rotate(180deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@keyframes change {
    0%{transform:rotate(0deg)}
    50%{transform:rotate(180deg)}
    100%{transform:rotate(360deg)}
}
@-moz-keyframes change{
    0%{-moz-transform:rotate(0deg)}
    50%{-moz-transform:rotate(180deg)}
    100%{-moz-transform:rotate(360deg)}
}